.top-courses h2{
  text-align: center;
  font-size: 50px;
  color: white;  
}

.grid {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px 0;
}

.card {
  background: #fff;
  color: #000;
  border-radius: 8px;
  padding: 15px;
  width: 250px;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
   transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}
.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0,0,0,0.3);
}

.card img {
  width: 100%;
  height: 150px;
  border-radius: 6px;
  object-fit: cover;
}
.card button {
  margin-top: 12px;
  padding: 10px 18px;
  background-color: #0056a3;
  border: none;
  border-radius: 6px;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.card button:hover {
  background-color: #003d66;
}